/* body{
    background-color: #dde1e7;
} */
@media only screen and (max-width: 900px){
    .main{
       min-width: 300px;
    }
}

.main{
    box-shadow: 10px 10px 5px grey;
    text-align: center;            
    border-radius: 10px;
    background-color: #ffffff;
    border: 2px solid black;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    width: 25%;    
    
}
/* #color1{
    color: blue;
}
 */

.Btn{
    font-weight: bold;
    
    border: 1px solid #dde1e7;
    font-size: 30px;
    background-color: darkgray;
    border-color:  #dde1e7;
    /* border-radius: 20px; */
    box-shadow: inset 2px 2px 2px #dde1e7;
    padding: 10px 20px;
    text-align: right;
    margin-top:10px;
    width: 50%;
    
}

img{
    width: 200px;
    background-color: #dde1e7;

}
.btn:hover{
    background-color: #ffffff;
}

.btn:focus{
    border: none;
    border-color: none;
    background-color: #00ffff;
}
.btn{
    
    /* background-color: #00ffff; */
    /* border: 2px solid #ffffff; */
    background-color: #dde1e7;
    border-color:  #ffffff;
    margin-top: 5px ;
    width: 15%;
    text-align: center;
    padding: 10px 10px;
    font-weight: bold;
}
    

.btn1{
    
    /* cursor: pointer; */
    font-weight: bold;
    border-color:  #ffffff;
    padding: 10px 10px;
    text-align: center;
    margin-top: 5px ;
    width: 15%;
    text-align: center;
    background-color: #dde1e7;
    margin-bottom: 1%;
}


.btn1:hover{
    background-color: #ffffff;
}

.btn1:focus{
    text-decoration: none;
    border: none;
    border-color: none;
    background-color: #00ffff;
}

.btn2{
    background-color: #dde1e7;
    border-color:  #ffffff;
    margin-top: 5px ;
    width: 15%;
    text-align: center;
    padding: 10px 10px;
    font-weight: bold;   
}
.btn2:hover{
    background-color: #ffffff;
}

.btn2:focus{
    color:#4169e1;
    border: none;
    border-color: none;
    background-color: #90ee90;
}

.btn3{
    background-color: #dde1e7;
    border-color:  #ffffff;
    margin-top: 5px ;
    width: 15%;
    text-align: center;
    padding: 10px 10px;
    font-weight: bold;   
}
.btn3:hover{
    background-color: #ffffff;
}

.btn3:focus{
    color: #ffffff;
    border: none;
    border-color: none;
    background-color: #4169e1;
}